@{ ViewData["Title"] = "Error"; }

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not allowed to access the resource.</h2>

<p>
    Please login with an enabled account to gain access to the desired resource, or go back to the <a href="/" class="tab__link menu__link">homepage</a>.
</p>