<?xml version="1.0" encoding="utf-8" ?>
<nlog>
    <extensions>
        <add assembly="NLog.Gelf" />
    </extensions>

    <targets>
        <target name="Gelf" type="GelfHttp" serverUrl="http://logserver.hoppinger.com:12220/gelf" facility="MonadicComponents"/>
    </targets>

    <rules>
        <logger name="*" minLevel="Information" appendTo="Gelf"/>
    </rules>
</nlog>