// ==========================================================================
// OBJECTS | Core
// ==========================================================================

.wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.main {
  display: table-row;
  height: 100%;
}

.footer,
.header {
  display: table-row;
  height: 1px;
}
