// ==========================================================================
// OBJECTS | Footer
// ==========================================================================

.footer {
  &__inner {
    padding: $base-spacing;
    text-align: center;
    font-size: $base-font-size;
  }
}
