// ==========================================================================
// Overwrite default variables here
// This file will never be overwritten
// ==========================================================================

.component {
  background: #efefef;
  margin: 50px;
  padding: 50px;
}