// ==========================================================================
// Overwrite default variables here
// This file will never be overwritten
// ==========================================================================

.component {
  background: #fff;
  margin: 50px;
  padding: 50px;
  position: relative;
}