// ==========================================================================
// SETTINGS | Variables > Color
// ==========================================================================

$black-400: #444;

$grey-200: #dae2ea;
$grey-400: #ddd;
$grey-600: #999;

$white-800: #f8f8f8;
$white-900: #fff;
$white: #fff;

$main-color: #08ABCE;
$main-color-dark: darken($main-color, 20%);
$main-color-light: lighten($main-color, 20%);

$background-color: #f1f1f1;
$border-color: #e5e5e5;

$base-spacing: 20px;
$base-font-size: 12px;

$link-color: $main-color;
$link-color-hover: #08ABCE;

$bg-base: #f1f1f1;
$color-base: #333333;
$ff-base: 'Palanquin', sans-serif;
$fs-base: 16px;
$lh-base: 1.75;

$ff-h1: 'Palanquin Dark', sans-serif;
$fs-h1: 36px;
$fs-h2: 24px;
$fs-h3: 20px;

$logo-width: 120px;



// ==========================================================================
// SETTINGS | Top bar
// ==========================================================================

$topbar-bg: $main-color;
$topbar-height: 70px;

// ==========================================================================
// SETTINGS | Menu
// ==========================================================================

$menu-bg: #464E54;
$menu-fw: 700;
$menu-ff: 'Palanquin Dark', sans-serif;
$menu-link-color: #fff;
$menu-link-color-active: $main-color;

// ==========================================================================
// SETTINGS | BUTTONS
// ==========================================================================

$button--toggle-bg: $main-color;

// ==========================================================================
// SETTINGS | Widths
// ==========================================================================

$width-sidebar-tablet: 250px;
$width-sidebar-desktop: 320px;

// ==========================================================================
// SETTINGS | Screen sizes
// ==========================================================================

$mobile:          320px;
$tablet:          768px;
$desktop:         1280px;

// ==========================================================================
// SETTINGS | Fonts
// ==========================================================================

$icomoon-font-path: "../fonts/icomoon/fonts" !default;

$icon-h1: "\e93a";
$icon-h2: "\e93b";
$icon-h3: "\e93d";
$icon-quote: "\e939";
$icon-code: "\e937";
$icon-eye: "\e936";
$icon-minus: "\e935";
$icon-warning: "\e904";
$icon-users: "\e906";
$icon-user: "\e907";
$icon-upload: "\e908";
$icon-underline: "\e90a";
$icon-text-size: "\e90b";
$icon-sync: "\e90c";
$icon-text-align-center: "\e90d";
$icon-text-align-justify: "\e90e";
$icon-text-align-left: "\e90f";
$icon-text-align-right: "\e910";
$icon-text-format-remove: "\e911";
$icon-sort-alpha-asc: "\e912";
$icon-printer: "\e913";
$icon-bold: "\e92d";
$icon-italic: "\e91c";
$icon-undo: "\e909";
$icon-redo: "\e914";
$icon-pencil: "\e916";
$icon-map-marker: "\e917";
$icon-magnifier: "\e918";
$icon-line-spacing: "\e919";
$icon-ol: "\e938";
$icon-list: "\e91a";
$icon-lock: "\e91b";
$icon-indent-decrease: "\e91d";
$icon-indent-increase: "\e91e";
$icon-heart: "\e91f";
$icon-home: "\e920";
$icon-calendar-full: "\e929";
$icon-alarm: "\e932";
$icon-camera-video: "\e92a";
$icon-picture: "\e915";
$icon-camera: "\e92b";
$icon-cart: "\e92c";
$icon-funnel: "\e921";
$icon-download: "\e922";
$icon-cross: "\e923";
$icon-plus: "\e934";
$icon-crop: "\e924";
$icon-chevron-down: "\e925";
$icon-chevron-left: "\e926";
$icon-chevron-right: "\e927";
$icon-chevron-up: "\e928";
$icon-arrow-down: "\e92e";
$icon-arrow-left: "\e92f";
$icon-arrow-right: "\e930";
$icon-arrow-up: "\e931";
$icon-move: "\e933";
$icon-fullscreen: "\e905";
$icon-link: "\e902";
$icon-unlink: "\e903";
$icon-trash: "\e901";
$icon-settings: "\e900";