.column-view-menu {
  @include tablet-desktop {
    width: 300px;
    position: fixed;
    top: $topbar-height;
    left: $width-sidebar-desktop;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    .model-nested {
      border-bottom: 1px solid #D2D2D2;
    }
  }
  .attribute-label {
    display: none;
  }
  .model-preview {
    padding: 0;
    font-size: inherit;
  }
  .model__attribute {
    margin: 0;
  }
  .content .model-content {
    padding: 21px 50px;
    min-height: auto;
  }
}

.column-view-content {
  @include tablet-desktop {
    margin-left: 250px;
    padding: 20px 0 20px 50px;
    .local-menu {
      margin-top: 0;
    }
    .content .model-content {
      padding-left: 0;
      padding-right: 0;
      .model-content {
        padding: 5px 50px 25px 50px;
      }
    }
  }
}

.column-view-menu__item {
  color: $black-400;
  border-right: 5px solid transparent;
  display: block;
}

.column-view-menu__item--selected {
  border-right-color: currentColor;
  color: $menu-link-color-active;
}